<html>
  <body>
    <div
      style='background-color:#F2F5F7;color:#242424;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'
    >
      <table
        align='center'
        width='100%'
        style='margin:0 auto;max-width:600px;background-color:#FFFFFF'
        role='presentation'
        cellspacing='0'
        cellpadding='0'
        border='0'
      >
        <tbody>
          <tr style='width:100%'>
            <td>
              <div style='padding:24px 24px 8px 24px;text-align:left'>
                <img
                  alt=''
                  src='{{logo}}'
                  height='24'
                  style='height:24px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%'
                />
              </div>
              <h3
                style='font-weight:bold;text-align:left;margin:0;font-size:20px;padding:32px 24px 0px 24px'
              >
                {{{title}}}
              </h3>
              <div
                style='color:#474849;font-size:14px;font-weight:normal;text-align:left;padding:8px 24px 16px 24px'
              >
                {{#each content}}
                  <p>{{{this}}}</p>
                {{/each}}
              </div>
              <div style='padding:16px 24px 16px 24px'>
                <hr style='width:100%;border:none;border-top:1px solid #EEEEEE;margin:0' />
              </div>
              <div
                style='color:#474849;font-size:12px;font-weight:normal;text-align:left;padding:4px 24px 24px 24px'
              >
                - Comfenalco
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
